<div class="container">
  <div class="panel">
    <div class="panel-body">
      {{#if messages.info}}
      <div role="alert" class="alert alert-info">
        {{#each messages.info}}
        <div>{{msg}}</div>
        {{/each}}
      </div>
      {{/if}} {{#if messages.error}}
      <div role="alert" class="alert alert-danger">
        {{#each messages.error}}
        <div>{{msg}}</div>
        {{/each}}
      </div>
      {{/if}} 
      
      {{#if user}}
      <form role='form' , enctype='multipart/form-data' , method='POST'>
        <div class="form-group">
          <input type='file' , name='File'>
          <button type='submit'>invia</button>
        </div>
      </form>
      {{/if}}

