<div class="login-container container">
  <div class="panel">
    <div class="panel-body">
      {{#if messages.error}}
      <div role="alert" class="alert alert-danger">
        {{#each messages.error}}
        <div>{{msg}}</div>
        {{/each}}
      </div>
      {{/if}} {{#if status}}
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <h1>Beatriks</h1>
            <br>
            <h2><%= __('Single File Upload')%></h2>
            <br>
            <br>
            <hr>
            <h2>File: {{status.file}} <%= __('uploaded')%></h2>
            <br>
            <a href="/">
              <h2><%= __('Back To Home')%></h2>
            </a>
          </div>
        </div>
      </div>

      {{else}}
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <h1>Beatriks</h1>
            <br>
            <h2><%= __('Single File Upload')%></h2>
            <form action="/uploaded" enctype="multipart/form-data" method="post">
              <input type="file" name="upload" multiple>
              <input type="submit" value="Upload">
            </form>
          </div>
        </div>
      </div>
      {{/if}}
